.map {
  border: 0.1rem cyan solid;
  width: 70vw;
  height: 70vh;
  /* To make the grid inside not overflowing */
  box-sizing: content-box;
}

.fullSizeWrapper {
  width: 70vw;
  height: 70vh;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
}

.loadingText {
  padding-right: 1rem;
}
