.cell {
  position: relative; /* To position it so the children have anchor to do "abosolute" positioning */
  z-index: 0;
  background-color: black;
}

.cell.hasShip {
  cursor: pointer;
}

/* Flash the active spaceship */
/* :global is needed to tell CSS Module not to local scope this (@keyframe can't recognise local-scoped animaton name) */
.cell.isActiveShip :global {
  animation: blink 1s steps(1) infinite alternate;
}

.cell .isDying {
  background-color: rgba(204, 21, 21, 0.405);
  position: absolute;
  inset: 0;
}

.cell .shipImg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@keyframes :global(blink) {
  from {
    filter: none;
  }
  50% {
    filter: invert(100%);
  }
  to {
    filter: invert(100%);
  }
}
