.clipOverflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subInfo.addr {
  flex-wrap: nowrap;
}

.warningText {
  color: rgb(237, 13, 13);
}

.isDying :global {
  color: rgb(237, 13, 13);
  animation: blinkDyingText 1.5s steps(1) infinite;
}

@keyframes :global(blinkDyingText) {
  from {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
